<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duantoufa0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,272},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,272},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,2},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,2},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,542},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,272},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,542},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,272},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa18.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,542},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa19.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,272},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa2.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa20.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,272},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa21.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa22.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,542},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa23.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,272},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa4.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,542},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa5.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,272},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
            <key>duantoufa9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,268}}</string>
                <key>sourceSize</key>
                <string>{198,268}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DengluUIBg-duantoufa.png</string>
            <key>size</key>
            <string>{1802,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5ecde22200559cd542a556212f96b36$</string>
            <key>textureFileName</key>
            <string>DengluUIBg-duantoufa.png</string>
        </dict>
    </dict>
</plist>
